sandbox/
Workflows/
.*.icloud
README.html
*.Rout
*.DS_Store
*.svg
*.RData
*.Rhistory
*.rds
.vscode/
*.tar.gz
.*.sw*
Scripts/R/HTCondorFiles/Rpackage.install.sh
Scripts/R/HTCondorFiles/Rpackage.sub
.Rproj.user
